body{
    margin: 0;
    padding: 0;
    background: #25003d;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, hsl(265, 100%, 66%),/*  hsl(322, 100%, 66%), */#fff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, hsl(265, 100%, 66%),/*  hsl(322, 100%, 66%), */#fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #00252E;
    font-family: 'Open Sans', sans-serif;
}
.header{
    margin: 0;
    padding: 50px;
    display:flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.button{
    width: 200px;
    background: #fff;
    border:1px #fff solid;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.ilustracion{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ilustracion-title{
    margin-top:70px;
}
.ilustracion-text{
    margin-top: 0;
    font-size: 20px;
    color: hsl(208, 11%, 55%);
}
.ilustracion-button{
    width:250px;
    padding: 20px;
    color:#fff;
    border: hsl(322, 100%, 66%) 1px solid;
    border-radius: 5px;
    background-color: hsl(322, 100%, 66%);
}
.iusers{
    display: flex;
    margin: 500px 100px 70px;
}
.iusers-img{
    /* width: 50%; */
    margin-right: 100px;
}
.iusers-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    line-height: 30px;
}
.iusers-text h2{
    margin-bottom: 10px;
}
.iusers-text p{
    margin-top: 10px;
}
/*
<************FUENTES****************>
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
/*#00252E*/